.container_projects {
  padding-bottom:4rem;
}

.imgHolder {
  position: relative;
}

.projectImage {
  margin: 0 auto;
  width:300px;
  height: 200px;
}

.back_project_paragraph{
  padding-top: 1rem;
}

.articleTitle {
  margin: 0;
  padding-top: 1rem;
}

.articleTitleRow{
  padding-top:0;
}

.back_project_description{
  padding-right: 4rem;
}

.descriptionAccent{
  color: var(--color-primaryAccent);
  display: contents;
  margin: 0;
  font-weight: 500;
}

.descriptionAccent::selection{
  color: var(--color-primaryAccent);
  background-color: var(--color-secondary);
}