.hero_container {
  max-width: 100%;
  height: fit-content;
}

.logo {
  width: 15rem;
  height: 17rem;
}

.logo path {
  animation: logo_anim 3s ease forwards;
  stroke-dasharray: 1494;
  stroke-dashoffset: 1494;
}

.hero_content {
  max-width: 550px;
  margin-bottom: 2%;
}

.hero_title {
  font-weight: 500;
  font-size: 2.25rem;
  color: var(--color-primaryAccent);
  margin-top: 2vh;
  margin-bottom: 1vh;
  text-align: left;
}

.hero_title_hello {
  font-weight: 400;
  font-size: 2.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1vh;
  text-align: left;
  line-height: 5vh;
}

.hero_description {
  padding-top: 2rem;
  font-size: 1.6rem;
  margin-top: 0;
  text-align: left;
}

.landing_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 55rem;
  height: fit-content;
  max-width: 100%;
  margin: 0 auto;
  align-content: flex-start;
  padding: 0 1.5rem;
  line-height: 4vh;
}

.header {
  padding: 2rem;
}

.hero_social_media_container  {
  display: grid;
  margin-top: 10px;
  max-width: 340px;
  margin: 0 auto;
  column-gap: 20px;
  grid-auto-flow: column;
}


.hero_description::selection {
  color: white;
  background: #5f9ea0;
}

.hero_title_hello::selection {
  color: white;
  background: #5f9ea0;
}

.hero_title::selection {
  color: #c71585;
  background: #5f9ea0;
}

.section {
  border: 5px solid #25092c;
}

@media all and (max-width:760px) {
  .hero_container {
    margin-right:2%;
    margin-left: 2%;
  }
}

@media screen and (min-width: 992px){
 .landing_section{
   justify-content: space-between;
   align-content: normal;
 } 
}

@keyframes logo_anim {
 to {
   stroke-dashoffset: 0;
 } 
}