html,
body {
  position:relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--color-primary);
  font-family: 'Noto Sefif JP', serif; 
}

:root {
  --color-primary: #fff0f5;
  --color-secondary:#5f9ea0;
  --color-primaryAccent: #ff3e7e;
  --color-third-pink: #c71585;
  --color-secondaryAccent: #ff8db3;
  --color-neutral-black: black;
  --color-neutral-white: white;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 445px) {
  .html{
    font-size: 14px;
  }
}


a {
  color: inherit;
  text-decoration: none;
}

a::selection {
  color: var(--color-neutral-white);
  background: var(--color-secondary) 
}

textarea {
  display: block;
  width: 100%;
  margin: .5rem 0;
  padding: .5rem;
  border: 3px solid var(--color-secondary);
  border-radius: 5px;
  font-size: 1.2rem;
}

textarea::selection {
  color: var(--color-neutral-white);
  background: var(--color-secondary) 
}

input {
  font-family:monospace;
  font-weight: 400;
  display: block;
  width: 100%;
  margin: .5rem 0;
  padding: .5rem;
  border: 3px solid var(--color-secondary);
  border-radius: 5px;
  font-size: 1.2rem;
}

input::selection {
  color: var(--color-neutral-white);
  background: var(--color-secondary) 
}

button::selection {
  color: var(--color-neutral-white);
  background: var(--color-secondary) 
}

h1::selection{
  color: var(--color-neutral-white);
  background: var(--color-secondary) 
}

p::selection{
  color: var(--color-neutral-white);
  background: var(--color-secondary) 
}

label::selection {
  color: var(--color-neutral-white);
  background: var(--color-secondary) 
}

* {
  box-sizing: border-box;
}

br::selection {
  background: var(--color-secondary) 
}

strong::selection{
  background: var(--color-secondary) 
}