.paragraph {
  padding-top: 2rem;
  font-size: 1.6rem;
  margin-top: 0;
  text-align: left;
}

.paragraph_sm {
  padding-top: 2rem;
  font-size: 1.3rem;
  margin-top: 0;
  text-align: left;
}

.title {
  font-weight: 400;
  font-size: 2.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1vh;
  text-align: left;
}

.container{
  width: 55rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
  line-height: 4vh;
}

.container_sm{
  width: 43rem;
}

.gridRows {
 display: flex;
 flex-direction: column;
 padding-top: 4rem;
}

.skills_section {
  height:1000px;
}

.button_confirm {
  padding: .5rem;
  width: 9rem;
  height: 2.6rem;
  color: var(--color-primary);
  font-size: 1.3rem;
  background-color: var(--color-secondaryAccent);
  border: 1px solid var(--color-secondary);
  border-radius:3px;
  cursor:pointer;
}

.contact_label {
  font-size: 1.5rem;
}

.alert_label_success {
  color: var(--color-secondary);
}

.alert_label_error {
  color: var(--color-primaryAccent);
}

.alert_label {
  animation: fadeIn .7s;
  font-size:1.3rem;
  color: var(--color-neutral-black);
}

.inside_link {
  border-bottom: 3px solid var(--color-secondary);
  cursor: pointer;
}

.inside_link:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  transition: all .4s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.button_confirm:hover {
  background-color: var(--color-primaryAccent);
  transition: all .6s;
}

.link {
  border-bottom: 3px solid var(--color-secondary);
}

.link:hover {
  color: var(--color-neutral-white);
  background-color: var(--color-secondary);
  transition: all .4s;
}

.link_footer {
  color: var(--color-neutral-white);
  font-weight: 500;
  font-size:1.1rem;
}

.wordAccent{
  color: var(--color-primaryAccent);
  display: contents;
  margin: 0;
  font-weight: 500;
}

.wordAccent::selection{
  color: var(--color-primaryAccent);
}
@media screen and (max-width: 375px) {
  .container{
    padding: 0 .5rem;
  }
}