.img {
  height: auto;
}

.hero_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  margin-bottom: 15vh;
  margin-right: 20%;
  margin-left: 20%;
}

.skills_section {
  height:1000px;
}

.hero_image {
  width:10rem;
  height: 12rem;
}

.logo path {
  animation: logo_anim 3s ease forwards;
  stroke-dasharray: 1494;
  stroke-dashoffset: 1494;
}

@keyframes logo_anim {
 to {
   stroke-dashoffset: 0;
 } 
}

.hero_content {
  max-width:400px;
  margin-bottom: 2%;
}

.hero_title {
  font-weight: 500;
  font-size: 35px;
  color: #c71585;
  margin-top: 2vh;
  margin-bottom: 1vh;
  text-align: center;
}

.hero_description {
  font-size: 18px;
  margin-top: 0;
  text-align: center;
}

.landing_section {
  display: flex;
  height: 96vh;
  border-bottom: 1px solid #e4a1f5;
}

.header {
  padding: 2rem;
}

.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 4vh;
  font-size: 1.5rem;
  z-index: 2;
}

.nav_bar_container {
  width: 55rem;
  max-width: 100%;
  margin: 0 auto;
}

.nav_bar_item_container {
  display: flex;
  justify-content: flex-end;
}

.nav_bar_item {
  margin-left: 1em;
  text-align: center;
  border-bottom: 3px solid transparent;
}

.logo_container {
  width:3.75rem;
  height:4.65rem;
}

@media screen and (min-width: 576px) {
  .nav_bar_item {
    margin-left: 2em;
  }
}

.nav_bar_item:hover {
  border-color:#5f9ea0;
  transition: all .8s;
}

.hero_social_media_container  {
  display: grid;
  margin-top: 10px;
  max-width: 340px;
  margin: 0 auto;
  column-gap: 20px;
  grid-auto-flow: column;
}


.hero_description::selection {
  color: white;
  background: #5f9ea0;
}

.hero_title::selection {
  color: white;
  background: #c69ff3;
}



.section {
  border: 5px solid #25092c;
}

@media all and (max-width:760px) {
  .hero_container {
    margin-right:2%;
    margin-left: 2%;
  }
}

