.footer {
  background-color: black;
  padding:.5vh 0;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
}

.container_footer {
  display: flex;
  justify-content: space-between;
  width:20rem;
}

.rightA {
  padding-left: 2rem;
}

.leftA {
  padding-right: 2rem;
}